node_modules
dist
dist-ssr
*.local

# test database
src/data/bin/test.db
src/data/bin/test.db-shm
src/data/bin/test.db-wal

# editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
